{% extends "_base.html" %}
{% block content %}
    <div class="customer">
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>
                        {{ customer.name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn modal-trigger" href="#modal-customer">Add customer</a>
    <div id="modal-customer" class="modal">
        <div class="modal-content">
            <h4>Create a customer</h4>
            <div class="row">

                <form method="POST" action="{{ url_for('admin.customers') }}" class="col s12">
                    {{ form.csrf_token }}
                    <div class="input-field">
                        {{ form.name.label }} {{ form.name() }}
                    </div>
                    <div class="modal-footer">
                        <input class="btn-flat" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}