{% extends "_base.html" %}
{% block content %}
    <div class="customer">
        <table>
            <thead>
            <tr>
                <th>Customers</th>
                <th class="right-align"><a href="#modal-customer" class="modal-trigger"><i class="material-icons">add_box</i></a></th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>
                        <a href="{{ url_for('admin.customer', customer_id=customer.id) }}">{{ customer.name }}</a>
                    </td>
                    <td class="right-align">
                    <a href=""><i class="material-icons icon-red">delete</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    <a class="btn modal-trigger" href="#modal-customer">Add customer</a>#}
    <div id="modal-customer" class="modal">
        <div class="modal-content">
            <h4>Create a customer</h4>
            <div class="row">

                <form method="POST" action="{{ url_for('admin.customer_new') }}" class="col s12">
                    {{ form.csrf_token }}
                    <div class="input-field">
                        {{ form.name.label }} {{ form.name() }}
                    </div>
                    <div class="modal-footer">
                        <input class="btn-flat" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}