{% extends "_base.html" %}
{% block content %}
    <div class="customer">
        <table>
            <thead>
            <tr>
                <th>List of projects for {{ current_customer.name }}</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="">{{ project.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn modal-trigger" href="#modal-project">Add project</a>
    <div id="modal-project" class="modal">
        <div class="modal-content">
            <h4>Create a project</h4>
            <div class="row">

                <form method="POST" action="{{ url_for('admin.project_new') }}" class="col s12">
                    {{ form.csrf_token }}
                    <input type="hidden" name="customer_id" value="{{ current_customer.id }}">
                    <div class="input-field">
                        {{ form.name.label }} {{ form.name() }}
                    </div>
                    <div class="modal-footer">
                        <input class="btn-flat" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}